.main-hr {
    width: 30%;
    border: none;
    border-top: 1px solid #c3c3c3;
  }
  .icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    z-index: 1;
  }

  .add-btn:hover {
    width: 175px;
  }

  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: red;
  }
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .icon-btn:focus {
    outline: none;
  }
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: red;
    overflow: hidden;
  }
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  


  .settings-button{
    position:absolute;
    cursor:pointer;
    top:5px;
    right:5px;
    transform: scale(0.6);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }

  .settings-button:hover {
    transform: scale(0.7);
  }



/*ARROW BUTTONS*/


.arrow-container{
  position: absolute;
  width: fit-content;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.arrow-container:hover{
  .arrow{
    border-top: 2px solid #7a7a7a;
    border-right: 2px solid #7a7a7a;
  }
}

.arrow-container-left{
  height: 100%;
  left:10px;
}

.arrow-container-right{
  height: 100%;
  right:10px;
}

.arrow-container-top{
  height: 30px;
  top:0;
  left:0;
  right:0;
  width: 100%;
  padding-top:10px;
}

.arrow-container-top-xs{
  height: 30px;
  top:0;
  left:0;
  right:0;
  width: 100%;
  padding-top:10px;
}

.arrow-container-bottom{
  height:30px;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  padding-bottom: 10px;
}

.arrow-container-bottom-xs{
  height:30px;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  padding-bottom: 10px;
}

.arrow-container-down{
  cursor: pointer;
}

/* arrow common style */
.arrow {
  top:7.5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.arrow:hover{
  border-top: 2px solid #7a7a7a;
  border-right: 2px solid #7a7a7a;
}

.arrow-top {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(45deg);
}
.arrow-bottom {
  transform: rotate(135deg);
}
.arrow-left {
  transform: rotate(-135deg);
}
.arrow-top-narrow {
  transform: rotate(-45deg) skew(-15deg, -15deg);
}
.arrow-top-wide {
  transform: rotate(-45deg) skew(7deg, 7deg);
}
.arrow-top-left {
  transform: rotate(-90deg) skew(-10deg, -10deg);
}
.arrow-top-right {
  transform: rotate(0) skew(-10deg, -10deg);
}
.arrow-bottom-left {
  transform: rotate(180deg) skew(-10deg, -10deg);
}
.arrow-bottom-right {
  transform: rotate(90deg) skew(-10deg, -10deg);
}