.hour-control-table-large{
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
  margin-top:3.5rem;
  margin-left:7.1rem;
  height:24rem;
  width: calc(80% - 75px);
  position: relative;
  display: none;
  white-space: nowrap;
}

.hour-control-table-small{
  border-right: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
  margin-top:7.1rem;
  height:24rem;
  width: 80%;
  min-width: 200px;
  position: relative;
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  white-space: nowrap; 
}

.hour-control-table-extra-small{
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  background-color: #e9e9e9;
  margin-top:15rem;
  height:24rem;
  width: 80%;
  min-width: 200px;
  position: relative;
  display: block;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  white-space: nowrap; 
}
  
  .table-title{
    width:100%;
    height:3.5rem;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-3.5rem;
  }

  .table-small-title{
    width:100%;
    height:3.5rem;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-7rem;    
  }
  
  .table-large-content{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .table-small-content{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }


  .table-bar{
    height:30px;
    background-color: red;
    width: 3.9%;
  }

  .table-large-title-text{
    font-weight: 600;
    font-size: 1.15rem;
    color:rgb(23, 39, 68);
  }
  
  .table-extra-small-title{
    height:3.5rem;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -13.5rem;
    left: -10%;
    right: -10%;
  }

  .table-small-title-text{
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 1.5;
    color:rgb(23, 39, 68);
    white-space: normal;
  }

  .table-extra-small-title-text{
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 1.5;
    color:rgb(23, 39, 68);
    white-space: normal;
  }

  .table-extra-small-control{
    position: absolute;
    height:9rem;
    top:-10rem;
    left:-1rem;
    right: -1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: nowrap;
  }

  .element-select-small{
    width:max-content;
  }

  .add-table-period-btn-small{
    margin-right: 0.5rem;
  }

  .remove-table-period-btn-small{
    margin-left: 0.5rem;
  }

  .flex-row-xs{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  
  .table-y-axis-identifiers{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    left:-7.1rem;
    height: 100%;
    text-align: right;
    width:7.5rem;
  }

  .table-x-axis-identifiers{
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: absolute;
    top:-3.5rem;
    height: 3rem;
    text-align: center;
    width:100%;  
  }
  
  .y-axis-identifier{
    height:14.3%;
    font-weight: 500;
    display:flex;
    justify-content: right;
    align-items: center;
    padding-right:15px;
  }

  .x-axis-identifier{
    width:33.3%;
    font-weight: 500;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .table-horizontal-row{
    position:relative;
    width:100%;
    border-bottom: 1px solid #b9b9b9;
    height:14.3%;
    padding-left:30px;
    padding-right:30px;
    overflow: hidden;
    white-space:nowrap;
    background-color: #e9e9e9;
  }

  .table-vertical-col{
    position:relative;
    height:100%;
    border-bottom: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    width:33.3%;
    padding-top:30px;
    padding-bottom:30px;
    overflow: hidden;
    white-space:nowrap;
    background-color: #e9e9e9;
  }

  .table-vertical-col-content{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    white-space:nowrap;
  }

  .table-horizontal-row-content{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    white-space:nowrap;
  }

  .table-extra-small{
    position:relative;
    width:100%;
    height:100%;
    padding-top:30px;
    padding-bottom:30px;
  }

  .table-extra-small-content{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    white-space: nowrap;
  }
  

  @media screen and (min-width: 729px) and (max-width: 1300px) {
    .hour-control-table-extra-small{
      display: none;
    }
    .hour-control-table-small{
      display:block;
    }
  }


  @media screen and (min-width: 1300px) {
    .hour-control-table-large{
      display:block;
    }
    .hour-control-table-extra-small{
      display: none;
    }
    .hour-control-table-small{
      display:none;
    }
  }

  .add-table-period-btn{
    position: absolute;
    top:0%;
    right:-75px;
  }

  .hour-period-entry{
    background-color: rgba(250, 250, 250, 0.8);
    width:fit-content;
    white-space: nowrap;
    padding:10px;
    border:1px solid #a3a3a3;
    border-radius: 5px;
    font-weight: 400;
    margin-right: 10px;
    cursor:pointer;
  }

  .hour-period-entry-xs{
    background-color: rgba(250, 250, 250, 0.8);
    width:80%;
    white-space: nowrap;
    padding:10px;
    min-height: 3rem;
    border:1px solid #a3a3a3;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 10px;
    font-size: 1rem;
    overflow: hidden;
    cursor:pointer;
  }

  .remove-table-period-btn{
    position: absolute;
    top: calc(1rem + 50px);
    right: -75px;
  }

  .add-period-popup{
    position: fixed;
    background-color: white;
    width: 50%;
    height:19rem;
    min-width:300px;
    max-width: 500px;
    border:1px solid #b9b9b9;
    margin:auto;
    top:calc(50% - 9.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    display: none;
    z-index: 3;
  }


  .remove-period-popup{
    position: fixed;
    background-color: white;
    width: 50%;
    height:19rem;
    min-width:300px;
    max-width: 500px;
    border:1px solid #b9b9b9;
    margin:auto;
    top:calc(50% - 9.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    display: none;
    z-index: 3;
  }

  .add-period-popup-title{
    font-weight: 600;
    margin:1rem;
    font-size:1.15rem;
  }

  .remove-period-popup-title{
    font-weight: 600;
    margin:1rem;
  }

  .element-first-col{
    width:30%;
    min-width:9.5rem;
    text-align: right;
  }
  .element-second-col{
    width:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .element-only-col{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-left:2.5rem;
  }

  .element-first-only-col{
    margin-top:1rem;
  }

  .element-input-number{
    width:3.5rem;
    margin-left:0.5rem;
  }

  .unit-seconds-label{
    margin-left:0.5rem;
  }

  #hour_period_mask{
    display: none;
    width:100%;
    left:0%;
    top:0%;
    right:0%;
    bottom:0%;
    margin:0;
    padding:0;
    opacity:0;
    position:fixed;
    z-index:2;
  }

.daily-time-period-picker{
  margin-right:1rem;
  width:70%;
  height: 2rem;
}