.section-content{
  display: flex;
  flex-direction: row;
  height: fit-content;
  min-height: 300px;
  width: 100%;
  position:relative;
  transition: margin-bottom 0.5s;
}

#realtime_content{
  display: inherit;
  margin-bottom: 0;
  width:100%;
}

.section-subcontent{
  margin: 0;
  flex-grow: 1;
  width: calc(100% - 204px - 1rem);
  position:relative;
}

.section-subcontent-title-div{
    border-bottom: 1px solid #b9b9b9;
}

.section-subcontent-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  width: auto;
}

.subcontent-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sub-nav-button {
  margin: 0.5rem;
  text-align: center;
  width: 10.5rem;
  font-size: 0.9rem;
  background-color: #B2CCE7;
  color: #2C3E50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sub-nav-button:hover {
  background-color: #94B5D6;
}

.sub-nav-button-small {
  margin: 0.5rem;
  text-align: center;
  width: 10.5rem;
  font-size: 0.9rem;
  background-color: #B2CCE7;
  color: #2C3E50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sub-nav-button-small:hover {
  background-color: #94B5D6;
}

.temporary-alert{
  position:fixed;
  top:5.1rem;
  margin:auto;
  transform: translate(-50%, -50%); /* Center the element relative to its own width and height */
  max-width:500px;
  min-width:300px;
  width:50%;
  z-index: 9999;
}

.content-grid{
  display:grid;
  width: 100%;
  row-gap: 20px;
  align-items: start; /* Center vertically */
  justify-content: center;
}

.content-grid-item{
  display: grid;
  align-items: flex-start;
  justify-items: center;
}

.content-grid-item-span-3{
  grid-column: span 3;
}

@media screen and (min-width: 992px) { /* Above Large Screen */
  .section-content{
    margin-bottom: 0rem;
  }
  .temporary-alert{
    top: 7.1rem;
  }
}