.section-content{
  display: flex;
  flex-direction: row;
  height: fit-content;
  min-height: 300px;
  width: 100%;
  margin-bottom: 7.1rem;
  position:relative;
  transition: margin-bottom 0.5s;
}

#realtime_content{
  display: inherit;
  margin-bottom: 0;
  width:100%;
}

.vertical_selection_menu{
    margin:0;
    padding:0;
    width:fit-content;
    /*display: flex;*/
    align-items: center;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
    position: relative;
    display:none;
    background-color: whitesmoke;
}

.horizontal_selection_menu{
  margin:0;
  padding:0;
  left:10px;
  right:10px;
  bottom: 3.1rem;
  align-self: center;
  justify-content: center;
  position: fixed;
  background-color: whitesmoke;
  transition: height 0.5s;
  overflow: hidden;
  height:0;
}

.horizontal_selection_menu.closed{
  height:0;
}

.vertical-selection-menu-buttons{
  width: 184px;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  transition: width 0.5s, margin-right 1s;
}

.vertical-selection-menu-buttons.closed{
  width: 0;
  margin-right: 0;
}

.horizontal-selection-menu-buttons{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
  
.vertical-slider {
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
  bottom:0;
  right: 2px;
  width: 10px;
  background-color: #555;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.vertical-slider:hover {
  background-color: #ccc;
}

.horizontal-slider{
  margin:0;
  padding:0;
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 7.1rem;
  height: 10px;
  background-color: #555;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;  
  transition: bottom 0.5s;
  display:none;
}

.horizontal-slider:hover {
  background-color: #ccc;
}


.slider-button {
  position: absolute;
  top: calc(50% - 15px);
  right: -15px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #555;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button-horizontal{
  position: absolute;
  left:calc(50% - 15px);
  bottom: -15px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #555;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.left-arrow {
  position: relative;
  width: 12px;
  height: 12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}

.left-arrow-slide{
  display: block;
  border-left: 2px solid #555;
  border-bottom: 2px solid #555;
}

.right-arrow {
  position: relative;
  width: 12px;
  height: 12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-135deg);
  display: none;
}

.right-arrow-slide{
  display: block;
  border-left: 2px solid #555;
  border-bottom: 2px solid #555;
}

.down-arrow {
  position: relative;
  width: 12px;
  height: 12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}

.down-arrow-slide{
  display: block;
  border-left: 2px solid #555;
  border-bottom: 2px solid #555;
}

.up-arrow {
  position: relative;
  width: 12px;
  height: 12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-225deg);
  display:none;
}

.up-arrow-slide{
  display: block;
  border-left: 2px solid #555;
  border-bottom: 2px solid #555;
}

.section-subcontent{
  margin: 0;
  flex-grow: 1;
  width: calc(100% - 204px - 1rem);
  position:relative;
}

.section-subcontent-title-div{
    border-bottom: 1px solid #b9b9b9;
}

.section-subcontent-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  width: auto;
}

.subcontent-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sub-nav-button {
  margin: 0.5rem;
  text-align: center;
  width: 10.5rem;
  font-size: 0.9rem;
  background-color: #B2CCE7;
  color: #2C3E50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sub-nav-button:hover {
  background-color: #94B5D6;
}

.sub-nav-button-small {
  margin: 0.5rem;
  text-align: center;
  width: 10.5rem;
  font-size: 0.9rem;
  background-color: #B2CCE7;
  color: #2C3E50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sub-nav-button-small:hover {
  background-color: #94B5D6;
}

.temporary-alert{
  position:fixed;
  top:5.1rem;
  margin:auto;
  transform: translate(-50%, -50%); /* Center the element relative to its own width and height */
  max-width:500px;
  min-width:300px;
  width:50%;
  z-index: 9999;
}

@media screen and (min-width: 992px) { /* Above Large Screen */
  .section-content{
    margin-bottom: 0rem;
  }
  .temporary-alert{
    top: 7.1rem;
  }
}