
#section_title{
    height:3.1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: #83a7c99a;
}

#content{
    margin-top:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#title{
    color:rgb(23, 39, 68);
    text-align: center;
    margin:0;
}

#control-panel{
    display: flex;
    width:fit-content;
    height: 90vh;
    align-items: center;
    justify-content: start;
    min-width: 300px;
    border:1px solid black;
    flex-direction: column;
}

.control-element{
    margin:1rem;
}

#image-div{
    border:1px solid black;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width:50%;
    height:90vh; 
}

#image-input-div{
    height: 50%;
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#image-output-div{
    height: 50%;
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#input-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#output-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#output-div{
    border:1px solid black;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width:20%;
    height:90vh;   
    overflow: auto;
}

.object-div{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.object-measure{
    margin:0.5rem;
    font-size:0.85rem;
    font-weight: 600;
    color: rgb(0, 0, 60);

}

#new-object{
    position: absolute;
    left:5%;
    top:5%;
    right:5%;
    bottom:5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:1px solid rgb(175, 175, 175);
    background-color: whitesmoke;
    display: none;
}

.new-object-name{
    margin:2rem;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-object-element{
    margin: 0.5rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.new-object-identifier{
    width: 50%;
}

.new-object-input{
    width: 40%;
}

.new-object-unit{
    margin-left: 0.5rem;
}

.first-col{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-col{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.new-object-button{
    margin:2rem;
    width:12.5rem;
    height:3rem;

}



.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.close-button:before,
.close-button:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 75%;
    top: 50%;
    left: 50%;
    background-color: #000;
    transform: translate(-50%, -50%) rotate(45deg);
}
.close-button:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}